backend/media/uploads/*
backend/backend/__pycache__
frontend/package-lock.json
backend/.env
backend/.env.lan
backend/**/__pycache__/
backend/**/*.pyc
backend/test_db.sqlite3
frontend/package-lock.json